:root{
    --main-color:#69BFAB;
    --sub-color:#345F55;
    --accent-color:#FFD900;
    --text-color:#fff;
    --text-color-sub:#222;
}

/* *{
    outline: 1px solid magenta;
} */

html{
    width: 100%;
    font-size: 62.5%;
    font-family: "Yusei Magic", "Kaisei Opti", "Kiwi Maru", "Noto Sans", sans-serif;
    color: var(--text-color);
}

body{
    min-width: 1200px;
    width: 100%;
    font-size: 100%;
    line-height: 1.5;
    letter-spacing: .03em;
}

.pc{
    display: inherit;
}

.sp{
    display: none;
}


@media screen and (max-width:767px) {
    .pc{
        display: none;
    }
    
    .sp{
        display: inherit;
    }
}

a{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    transition: opacity .2s;
}

img, picture{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li{
    list-style: none;
}

/* ボタン */


/* ヘッダー */
